<html lang="en">
<header>
  <style>
    
  </style>
</header>

<p id="notice"><%= notice %></p>

<div class="container" style="height: 100px; background-color: #dbe6c1; display: flex;">
<h2 class="display-4" style="margin-top: 30px; vertical-align: middle; margin: auto;">On the Spot Corrections for <%= link_to "C/#{@cadet.firstName} #{@cadet.lastName}", @cadet %></h2>
</div>

<br>

<% if (Cadet.find_by(id: session[:cadet_id]).position != "Cadet") %>

  <%= bootstrap_form_with(model: [ @cadet, @cadet.otscs.build ], local: true) do |form| %>
  
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h4 class="font-weight-light" >Add an OTSC</h4>
      <font class="font-weight-light" style="text-align: left;" color="red">Fields Required *</font>
      <br></br>

    <div class="container">
      
      <div class="row">
        <label for="colFormLabel" class="col-sm-2 col-form-label"><strong>Date:* </strong></label>
        <div class="col-sm-10"><%= form.date_field :date, hide_label: true, required: true %></div>
      </div>

      <div class="row">
        <label for="colFormLabel" class="col-sm-2 col-form-label"><strong>Description:* </strong></label>
        <div class="col-sm-10"><%= form.text_area :description, size:50 ,maxlength: 300, hide_label: true, required: true %></div>
      </div>
  
      <div class="actions" style="text-align:center;">
        <%= form.submit %>
      </div>
  
    </div>
    </div>
    </div>

  <% end %>
<%end%>

<div class="row">
  <div class="column"><p><strong>Total OTSCs: </strong><%= @cadet.otscs.all.count %></p></div>
</div>

<div class="container">
  <div class="col md"></div>
    
  <div class="col md  ">
    <% @otscs.each do |otsc| %>
      <div class="blog-post">
        <div class="row" style="text-align:left;"><h3><%= otsc.date %></h3></div>
        <div class="row" style="text-align:left;"><%= otsc.description %></div>
        <% if (Cadet.find_by(id: session[:cadet_id]).position != "Cadet") %>
          <div class="row"><p style="text-align:left;"><%= link_to 'Delete', [otsc.cadet, otsc], method: :delete, data: { confirm: 'Are you sure?' } %></p></div>
        <% end %>
        <hr>
      </div>
    <% end %>
  </div>

  <div class="col md"></div>
</div>

<br>